#root,
main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 20px;
  margin: 0 auto 20px auto;
  font-size: 20px;
  width: 400px;
}

input,
label {
  width: 45%;
}

[type="checkbox"] {
  width: auto;
  accent-color: white;
  width: 18px;
}

[type="file"] {
  width: 60%;
  text-align: center;
}

th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-radius: 10px;
}

th,
td,
caption {
  padding: 10px;
}

tbody > tr {
  transition: 0.25s;
}

tbody > tr:hover {
  background-color: white;
  color: #242424;
}

input[type="submit"] {
  cursor: pointer;
  border: solid 2px currentColor;
  border-radius: 25px;
  padding: 3px 10px;
  color: currentColor;
  background-color: inherit;
  font-size: 15px;
  width: 60%;
  transition: 0.25s;
}

input[type="submit"]:hover {
  background-color: white;
  color: #242424;
}

label {
  text-decoration: underline;
  text-underline-offset: 7px;
  cursor: pointer;
}
